/* 4.ADIM */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  5.ADIM (Herşeyi centerlamak gerekiyor) */
body {
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 6.ADIM (Saati görünüz yapmamız gerekiyor) */
.clock {
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: 5px solid black;
    background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") center;
    background-repeat: no-repeat;
    background-size: 88%;
}


/* 7.ADIM : secs, mins, hours ve dot kısımları */

.secs {
position: absolute;
top: 50%;
left: 50%;
height: 12rem;
width: .1rem;
background-color: tomato;
transform: translateX(-50%); 
transform-origin: 25%0;  /* TEK BİR NOKTAYA SABİTLEME KISMI*/
}

.mins {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 9rem;
    width: .3rem;
    border-radius: 20px;
    background-color: rgb(21, 226, 38);
    transform: translateX(-50%);
    transform-origin: 25%0;
}
    
.hours {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: .5rem;
    border-radius: 15px;
    background-color: rgb(81, 26, 233);
    transform: translateX(-50%);
    transform-origin: 25%0;
    }

.dot {

    position: absolute;
    top: 50%;
    left: 50%;
    height: 1rem;
    width: .1rem;
    border-radius: 50px;
    background-color: rgb(223, 14, 14);
    transform: translateX(-50%);
    

}